<div class="row justify-content-center mb-5">
    <div class="col-lg-6 col-sm-12 text-center">
        <h3>Servicios para emprendedores</h3>
        <img src="../../assets/img/Visual_data-bro.svg" alt="workin">
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-12 mb-5" *ngFor='let plan of planes'>
        <div class="card bg-light border shadow">
            <div class="card-body servicio-info">
                <h5>{{plan.nombre}}</h5>
                <p>{{plan.descripcion}}</p>
                <ul>
                    <li *ngFor='let item of plan.contenido'>{{item}}</li>
                </ul>
                <br>
                <br>
                <p> <i class="fas fa-tag"></i> Costo: </p>
                <p class="text-muted">{{plan.costomes}} ARS mensuales</p>
                <p class="text-muted">{{plan.costoanio}} ARS Anuales</p>
            </div>    
        </div>
    </div>

</div>

<p class="au-flex au-pt-4 group-buttons">
    <a routerLink='/contacto' class="au-mt-4 arrow-button arrow-button--right arrow-button--out">
        info de contacto
        <span class="arrow-cont">
        <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg>
        </span>
    </a>
</p>
