.card-center{
    margin: auto;
}

.top-50{
  margin-top: 50px;
}

.pad-20{
  padding: 20px;
}

.center-card{
  margin: auto;
}

.center-card i{
  text-align: center;
}

  /*\
   Counts 
   */

  .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    margin-top: 20px;
  }
  
  .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    background: #292929;
    padding: 12px;
    color: #fff;
    border-radius: 50px;
  }
  
  .count-box span {
    font-size: 20px;
    display: block;
    font-weight: 600;
  }
  