
<!-- ======== Tarjeta de presentacion ======== -->
<div class="ae-grid au-xs-ta-center au-mb-4">

    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3 animated fadeIn card-center">
        <img [src]="persona.img" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.job}}</p>
        <p class=".au-lg-ta-justif au-mb-3 au-pl-4 au-pr-4"></p>
        <!-- <a href="#0" class="ae-u-bolder au-underline">@angelinawidow</a> -->
    </div>

</div>

<!-- ======== About ======== -->
<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Sobre mi</h4>
        <p>{{persona.descripcion}}</p>
    </div>
</div>

<!-- ======== Habilidades ======== -->
<div class="row my-5">

    <div class="count-box col-lg-3 col-md-6">
        <i class="fas fa-code iconosMd" ></i>
        <span data-toggle="counter-up">HTML</span>
    </div>

    <div class="count-box col-lg-3 col-sm-6">
        <i class="fab fa-js-square iconosMd"></i>
        <span class="">JavaScript </span>
    </div>

    <div class="count-box col-lg-3 col-sm-6">
        <i class="fab fa-js-square iconosMd"></i>
        <span class="">TypeScript </span>
    </div>

    <div class="count-box col-lg-3 col-sm-6">
        <i class="fab fa-css3-alt iconosMd"></i>
        <span class="">CSS </span>
    </div>

    <div class="count-box col-lg-3 col-sm-6">
        <i class="fab fa-bootstrap iconosMd"></i>
        <span class="">Bootstrap</span>
    </div>

    <div class="count-box col-lg-3 col-sm-6">
        <i class="fas fa-database iconosMd"></i>
        <span class="">Mysql</span>
    </div>

    <div class="count-box col-lg-3 col-sm-6">
        <i class="fab fa-node-js iconosMd" style="color: #6FEB1B"></i>
        <span class="">NodeJs</span>
    </div>
        
    <div class="count-box col-lg-3 col-sm-6">
        <i class="fab fa-angular iconosMd"></i>
        <span class="">Angular </span>
    </div>
        
    <div class="count-box col-lg-3 col-sm-6">
        <i class="fab fa-angular iconosMd"></i>
        <span class="">Ionic </span>
    </div>
</div>    

<!-- ======== Link Portafolio ======== -->
<p class="au-flex au-pt-4 group-buttons">
    <a routerLink='/home' class="au-mt-4 arrow-button arrow-button--right arrow-button--out">
        Ver portafolio
        <span class="arrow-cont">
        <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg>
        </span>
    </a>
</p>
