
<!-- ======== Tarjeta de presentacion ======== -->
<div class="ae-grid au-xs-ta-center au-mb-4">

    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3 animated fadeIn card-center">
        <img [src]="persona.img" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.job}}</p>
        <p class=".au-lg-ta-justif au-mb-3 au-pl-4 au-pr-4"></p>
        <!-- <a href="#0" class="ae-u-bolder au-underline">@angelinawidow</a> -->
    </div>

</div>

<!-- ======== About ======== -->
<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Sobre mi</h4>
        <p>{{persona.descripcion}}</p>
    </div>
</div>

<!-- ======== Habilidades ======== -->
<div class="ae-grid--alt test top-50">
    <div class="ae-grid__item--alt item-sm--auto item-sm--offset-1 item-lg--offset-0 item-sm--end item-sm--bottom">
        <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
            <div class="ae-grid__item--alt8 item-lg-6">
                <div class="col-lg-3 col-6 my-5">

                    <div class="count-box">
                        <i class="fas fa-code iconosMd" ></i>
                        <span data-toggle="counter-up">HTML</span>
                    </div>

                    <div class="count-box">
                        <i class="fab fa-js-square iconosMd"></i>
                        <span class="">JavaScript </span>
                    </div>

                    <div class="count-box">
                        <i class="fab fa-js-square iconosMd"></i>
                        <span class="">TypeScript </span>
                    </div>

                    <div class="count-box">
                        <i class="fab fa-css3-alt iconosMd"></i>
                        <span class="">CSS </span>
                    </div>
            
                    <div class="count-box">
                        <i class="fab fa-bootstrap iconosMd"></i>
                        <span class="">Bootstrap</span>
                    </div>
        
                    <div class="count-box">
                        <i class="fas fa-database iconosMd"></i>
                        <span class="">Mysql</span>
                    </div>

                </div>
            </div>
            <div class="ae-grid__item--alt8 item-lg-6">

                <div class="count-box">
                    <i class="fab fa-node-js iconosMd" style="color: #6FEB1B"></i>
                    <span class="">NodeJs</span>
                </div>
                    
                <div class="count-box">
                    <i class="fab fa-angular iconosMd"></i>
                    <span class="">Angular </span>
                </div>
                
                <div class="count-box">
                    <i class="fab fa-angular iconosMd"></i>
                    <span class="">Ionic </span>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ======= Contacto ======= -->
<!-- <section id="contacto" class="contact section bg-light">
<div class="container">

    <div class="row mt-5 justify-content-center">
    <div class="col-lg-10">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="form-row">
            <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validate"></div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribe tu consulta" placeholder='Consulta'></textarea>
            <div class="validate"></div>
        </div>
        <div class="mb-3">
            <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>
        </div>
        <div class="text-center"><button type="submit">Enviar mensaje</button></div>
        </form>
    </div>

    </div>

</div>
</section> -->

<!-- ======== Link Portafolio ======== -->
<p class="au-flex au-pt-4 group-buttons">
    <a routerLink='/home' class="au-mt-4 arrow-button arrow-button--right arrow-button--out">
        Ver portafolio
        <span class="arrow-cont">
        <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg>
        </span>
    </a>
</p>
