<section id="contact" class="contact">
    <div class="container text-center">
     <h2>Contacto</h2>

      <div class="row mt-5" >
        <div class="col-lg-4 col-md-6">
          <div class="info-box mb-4">
            <a href="paolacdf29@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
            <h3>Correo Electronico</h3>
            <p>paolacdf29@gmail.com</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="info-box  mb-4" >
            <a href='https://www.facebook.com/profile.php?id=100054227774809'  target="_blank" ><i class="fab fa-facebook-f"></i></a>
            <h3>Facebook</h3>
            <p></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="info-box  mb-4" >
            <a href="https://wa.me/541128080059"  target="_blank"><i class="fab fa-whatsapp"></i></a>
            <h3>Telefono</h3>
            <p>+54 11 28080059</p>
          </div>
        </div>

      </div>
    </div>
  </section>